<p id="notice"><%= notice %></p>

<div>
  <ul>
    <li><%= @debtor.system_id %></li>
    <li><%= @debtor.customer_number %></li>
    <li><%= @debtor.gender %></li>
    <li><%= @debtor.first_name %></li>
    <li><%= @debtor.last_name %></li>
    <li><%= @debtor.iso_code_language %></li>
    <li><%= @debtor.iso_code_communication_language %></li>
    <li><%= @debtor.iso_code_address_country %></li>
    <li><%= @debtor.zip %></li>
    <li><%= @debtor.city %></li>
    <li><%= @debtor.street %></li>
    <li><%= @debtor.house_number %></li>
    <li><%= @debtor.phone_number %></li>
    <li><%= @debtor.email_address %></li>
    <li><%= @debtor.sap_invoice_number %></li>
    <li><%= @debtor.fixed_value %></li>
    <li><%= @debtor.amount %></li>
    <li><%= @debtor.date_of_export_to_debt_collection %></li>
  </ul>
</div>

<%= link_to 'Back', debtor_path_url %>
